@keyframes example {
    from {color: blue;}
    to {color: red;}
  }
body{
    background-color: black;
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    
}
.select{
    display: flex;
    flex-direction: row;
}
.boxes{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px;
    /* border: 2px solid blue; */
}
img{
    width: 250px;
    height: 300px;
}
.heading{
    font-size: 50px;
    font-family: cursive;
    color: blue;
    font-weight: bold;
    animation-name: example;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    margin-top: -130px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.left
{
    width: 630px;
    margin-right: 100px;
    text-align: center;
    margin-left: -10px;
}
.right{
    width: 100px;
    text-align: center;
    margin-left: 150px;
    padding-left: 100px;
}
.score{
    margin-top: 150px;
    font-size: 90px;
    font-family: cursive;
    color: cyan;
    font-weight: bold;
    margin-left: 110px;
}
.boxes{
    cursor: pointer;
}
#rock{
    display: none;
}
#paper{
    display: none;
}
#scissors{
    display: none;
}
#score2{
    margin-left: 50px;
    margin-top: 350px;
}
