@keyframes example {
    from {color: blue;}
    to {color: red;}
  }
body{
    
    background-color: black;
    width: 100%;
    height: 100%;
    background-size:600px;
    background-image: url("rock-paper-scissors-neon-icons-vector-removebg-preview.png");
    position:fixed;
    background-position-x: center;
    background-position-y: 150px;
    background-repeat: no-repeat;
}
.heading{
    font-size: 80px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left:430px;
    color:aqua;
}
.butt1{
    margin-top: 400px;
    margin-left: 300px;
}
.butt1{
    background-color: black;
    font-size: 50px;
    font-family: cursive;
    color: blue;
    font-weight: bold;
    animation-name: example;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}
a{
    text-decoration: none;
    display: block;
}